# Config file for automatic testing at travis-ci.org
# This file will be regenerated if you run travis_pypi_setup.py

# command to install dependencies, e.g. pip install -r requirements.txt
install:
  - pip install tox-travis
  - pip install --upgrade pip

# command to run tests, e.g. python setup.py test
script: time tox

# Globals
language: python
dist: focal
os: linux
osx_image: xcode13.2

jobs:
  include:
    - arch: amd64
      python: 3.7
    - arch: amd64
      python: 3.8
    - arch: amd64
      python: 3.9
    - arch: amd64
      python: 3.10

    - arch: arm64
      python: 3.7
    - arch: arm64
      python: 3.8
    - arch: arm64
      python: 3.9
    - arch: arm64
      python: 3.10

    - arch: ppc64le
      python: 3.7
    - arch: ppc64le
      python: 3.8
    - arch: ppc64le
      python: 3.9

    - arch: s390x
      python: 3.7
    - arch: s390x
      python: 3.8
    - arch: s390x
      python: 3.9

    - os: osx
      language: generic
      python: 3.7
      env: PYTHON=3.7
    - os: osx
      language: generic
      python: 3.8
      env: PYTHON=3.8
    - os: osx
      language: generic
      python: 3.9
      env: PYTHON=3.9
    - os: osx
      language: generic
      python: 3.10
      env: PYTHON=3.10
